#fleetSummary {
    height: 100%;
    width: 100%;
    padding: 0px 2px 2px 2px;
    background: #fff;
}

#fleetContainer {
    position: relative;
    float: left;
    width: 70%;
    height: 100%;
}

#fleetGrid {
    position: absolute;
    top: 0;
    left: 5px;
    bottom: 0px;
    right: 5px;
    padding: 0;
}

.fleetGridTabs{
    top: 30px !important;
}

#fleetGrid table thead th div {
    position: relative;
}

.ie7 #fleetGrid table thead th div,
.ie8 #fleetGrid table thead th div,
.ie9 #fleetGrid table thead th div {
    font-weight: normal;
    text-align: center;
}

.ie7 .tableSpanHeader,
.ie8 .tableSpanHeader {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    writing-mode: tb-rl;
    filter: flipv fliph;
    text-align: left;
    padding-top: 5px;
    box-sizing: border-box;
}

.fleet_default,
.fleet_white_white,
.fleet_white_black,
.fleet_yellow_yellow, 
.fleet_yellow_black,
.fleet_blue_blue,
.fleet_blue_black,
.fleet_purple_purple, 
.fleet_purple_black,
.fleet_green_green,
.fleet_green_black,
.fleet_green_white,
.fleet_orange_orange,
.fleet_orange_black,
.fleet_orange_white,
.fleet_red_red, 
.fleet_red_black,
.fleet_red_white,
.fleet_black_grey {
    height: 100%;
    width: 100%;
    line-height: 16px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    /*text-shadow: gray 0.1em 0.15em 1em;*/
}

.fleet_green_white,
.fleet_orange_white,
.fleet_red_white {
    /*text-shadow: #ddd 0.2em 0.15em 1em;*/
}

.fleet_white_black,
.fleet_yellow_black,
.fleet_blue_black,
.fleet_purple_black,
.fleet_green_black,
.fleet_orange_black,
.fleet_red_black {
    /*text-shadow: #222 0.2em 0.15em 1em;*/
}

.fleet_default {
    background: white;
    border: 1px solid white;
}

.fleet_white_white {
    background: white;
    color: white;
    border: 1px solid white;
}

.fleet_white_black {
    background: white;
    color: black;
    border: 1px solid white;
}

.fleet_yellow_yellow {
    background: yellow;
    color: yellow;
    border: 1px solid #f3f309;
}

.fleet_yellow_black {
    background: yellow;
    color: black;
    border: 1px solid #f3f309;
}

.fleet_blue_blue {
    background: #5cb3ff;
    color: #5cb3ff;
    border: 1px solid #5badf5;
}

.fleet_blue_black {
    background: #5cb3ff;
    color: black;
    border: 1px solid #5badf5;
}

.fleet_purple_purple {
    background: #cc99ff;
    color: #cc99ff;
    border: 1px solid #c799f5;
}

.fleet_purple_black {
    background: #cc99ff;
    color: black;
    border: 1px solid #c799f5;
}

.fleet_green_green {
    background: green;
    color: green;
    border: 1px solid #057405;
}

.fleet_green_black {
    background: green;
    color: black;
    border: 1px solid #057405;
}

.fleet_green_white {
    background: green;
    color: white;
    border: 1px solid #057405;
}

.fleet_orange_orange {
    background: #d9680d;
    color: #d9680d;
    border: 1px solid #ca6412;
}

.fleet_orange_black {
    background: #d9680d;
    color: black;
    border: 1px solid #ca6412;
}

.fleet_orange_white {
    background: #d9680d;
    color: white;
    border: 1px solid #ca6412;
}

.fleet_red_red {
    background: #cc0000;
    color: #cc0000;
    border: 1px solid #c00202;
}

.fleet_red_black {
    background: #cc0000;
    color: black;
    border: 1px solid #c00202;
}

.fleet_red_white {
    background: #cc0000;
    color: white;
    border: 1px solid #c00202;
}

.fleet_black_grey {
    background: #bdbebf;
    color: black;
    border: 1px solid white;
}

.fleet_yellow_black_red {
	background: yellow;
    color: black;
    border: 3px solid #cc0000;
    line-height: 12px;
    text-align: center;
}

.fleet_yellow_black_orange {
	background: yellow;
    color: black;
    border: 3px solid #e48c44;
    line-height: 12px;
    text-align: center;
}

#fleetGrid table thead {
    border-bottom: 2px solid #777;
}

#fleetGrid .scroller table tr td div {
    font-size: 8pt;
}

.eventContainer {
    visibility: visible;
    top: 0px;
    bottom: 0px;
    left: 70%;
    width: 30%;
    padding-left: 5px;
    z-index: 1;
    position: absolute !important;
}

.liveEvents,
.recentEvents {
    border-left: 1px solid #666;
}

.filter input {
    padding: 3px;
    background: none;
}

.filter input:focus {
    background: none !important;
}

#fleetContainer ul {
    margin-left: 5px;
    margin-right: 5px;
}

#recent-event-filter ,#live-event-filter {
   float: right;
   visibility: visible !important;
   display: inline !important;
}


.eventTitle {
    padding : .5em .5em .5em .5em;
    float : left;
}


#fleetGrid .fixed table,
#fleetGrid .scroller table {
    table-layout: auto;
}