#dvMain {
    position: relative;
    height: 100%;
    width: 100%;
}

#dvMain * .ui-accordion .ui-accordion-header a {
    padding-left: 1em;
}

#dvMain * .ui-accordion .ui-accordion-content {
    padding: 1em 1em;
}

#dvMain * .ui-accordion .ui-accordion-content {
    padding: .3em 1em;
}

#channelPane {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 210px;
    height: 100%;
}

#chartPane {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 210px;
    right: 0px;
    height: 100%;
    padding: .5em;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#dvConfigurations {
    position: absolute;
    top: -2px;
    height: 2.8em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#dvChannelGroups {
    position: absolute;
    top: 2.8em;
    bottom: 0px;
    width: 100%;
    overflow-y: scroll;
    min-height: 400px;
}

#dvChannelAccordion {
    height: 50%;
}

.channelGroup {
    width: 160px;
}

.channelGroup .channel {
    height: 23px;
}

.channelGroup .even {
    background: #E1F0F7;
}

#dvConfigurations .ui-widget-header {
    margin-top: 0px;
    margin-bottom: 2px;
    padding: 2px;
    border: 0px;
}

#dvConfigurations div#select {
    width: 155px;
    padding-left: 1px;
    float: left;
}

#dvConfigurations div#select div.selector,
#dvConfigurations div#select div.selector span {
    width: 120px;
}

#dvConfigurations div#select div.selector span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dvConfigurations div#select div.selector select {
    /*width: 148px;*/
    /*margin-left: 5px;*/
}

#dvConfigurations div#update {
    float: left;
    padding-top: 4px;
}

#dvConfigurations div#update button {
    float: left;
    height: 24px;
    width: 24px;
}

#dvConfigurations #dvConfigurationsBody select {
    width: 100%;
    height: 25px;
}

#dvConfigurations select option.system {
    width: 100%;
    height: 25px;
    background: #dedede;
}

#dvConfigurations #dvConfigurationsBody .saveButton,
#dvConfigurations #dvConfigurationsBody .deleteButton {
    height: 25px;
}

.channelGroup .channel .desc {
    height: 20px;
    line-height: 20px;
    float: left;
    width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}

.channelGroup .channel .checkbox {
    float: left;
    width: 15px;
}

.dvTable {
    height: 100%;
    width: 100%;
    direction: ltr;
    overflow-x: hidden;
}
.dvChart {
    margin-bottom: 10px;
    float: left;
    border-radius: 10px;
    padding: 10px 0px 0px 0px;
        
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

    box-shadow: 5px 5px 5px #999;
    overflow: hidden;
}

.vehicleTabs {
    height: 100%;
}

.chart {
    display: inline-block;
}

#save-config label,
#save-config input,
#rename-config label,
#rename-config input {
    display: block;
}

#save-config input,
#rename-config input {
    width: 100%;
    background: none !important;
}

#system-warning,
#emptyfield-warning,
#config-delete,
#rename-config,
#save-config {
    display: none;
}

fieldset {
    border: 0px;
}
#dvConfigurations div .selector {
    width : 100% !important
}
#dvConfigurations div  .selector span{
    width : 120px !important;
}

#chartPane button {
    height: 24px;
    width: 24px;
    position: absolute;
    top: -2px;
}

.dvTable table tbody tr {
    background: none !important;
}
/*Vertical Headers */

.dvTable table thead th {
    height: 150px;
}
.dvTable table {
    width: auto;
}

.dvTable .headerContent {
    min-width: 30px !important;
}

.dvTable table thead th div {
    position: relative;
}

.dvTable table thead th div span {
    position: absolute;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin-x: 0%;
    -webkit-transform-origin-y: 50%;
    -moz-transform: rotate(270deg);
    -moz-transform-origin-x: 0%;
    -moz-transform-origin-y: 50%;
    -ms-transform: rotate(270deg);
    -ms-transform-origin-x: 0%;
    -ms-transform-origin-y: 50%;
    transform-origin: 0% 50%;
    top: 140px;
    left: 50%;
}

.dvTable table thead th div{
    text-align: center;
}
.ie7 .dvTable table thead th div,
.ie8 .dvTable table thead th div,
.ie9 .dvTable table thead th div {
    font-weight: normal;
}

.ie7 .dvTable table thead th div span,
.ie8 .dvTable table thead th div span {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    writing-mode: tb-rl;
    filter: flipv fliph;
    text-align: left;
    padding-top: 5px;
    box-sizing: border-box;
}
/* End Vertical Header*/

#tableTimeDiv {
   position: absolute;
    width: 160px;
    height: 20px;
    top: 10px;
    right: 50px;
    background: #ddd;
    z-index: 1;
    box-shadow: 3px 3px 3px #666;
    font-weight: bold;
    line-height: 20px;
}


div#scroller {
    position: relative;
    background: gray;
    float: right;
    top: 0px;
    height: 100%;
    margin-left: 10px;
}

div#scroller table tbody tr td div{
    font-size: 10px;
    font-family: arial;
    margin-left: 0px;
    width:45px;
    cursor: pointer;
}

div#scroller table tbody tr td{
    
    vertical-align: bottom;
    width:45px;
}

div#scroller table tbody tr{
    max-height: 25px;
}

div#scroller table,
div#scroller table tbody  {
    width: 100%;
    direction : ltr;
    table-layout: auto;
    
    
}

div#scroller {
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}

.selected {
    background: black;
    color: white;
}

.exportPdf {
    width: 20px;
    height: 20px;
    outline: none;
    border-width: 0px;
    background: url('../img/pdf_icon.png') no-repeat;
    cursor: pointer;
    *cursor: hand;
    border-radius: 3px;
    border-radius: 3px;
    border-radius: 3px;
}
