<div class="arrivals_depa">
	<div class="opsResultLeft" id="opsResultLeft">
		chart
	</div>
	<div class="opsResultBottom" id="opsResultBottom">
	</div>  
	<div class="opsResultRight" id="opsResultRight">
	</div>
</div>
