<div id = "cabMain">
    <div class = 'vehicleTabs'>
        <ul></ul>
    </div>
</div>

<div id = 'absoluteCab'>
    <div id = 'cabBorder'>
        <div id = 'cabContainer' class = 'cab'>

        </div>
    </div>
</div>